# Compiled and pythonized scripts are intentionally part of the repo
# to ease distribution and reporting of coverage stats.
# Just regen them when other merge conflicts are resolved...

#use glob syntax
syntax: glob

__pycache__
*.pyc
build/*
*.egg-info
dist/*
.coverage
.coverage.xml
.eggs
.pytest_cache
generated
compiled
htmlcov
# Pythonized dir needs to be in the repo for code coverage to work
# in CI.
# pythonized
pythonized/*.lsl
